
.card {
    height: 300px;
    width: 600px;
    position: relative;
    perspective: 300px;
    -webkit-transform-style: preserve-3d;
    transition: transform 1s;
    margin: 50px auto;
}

.front, .back {
    position: absolute;
    height: 100%;
    width: 100%;
    top: 0;
    left: 0;
    background-color: orange;
    backface-visibility: hidden;
    transition: 1s;
}

.back {
    transform: rotateX(180deg);
    background: url("project assets/backPhoto.jpg") no-repeat;
    background-size: cover;
}

/*Front of Card*/

.front {
    background: url("project assets/bg1.png") no-repeat;
    background-size: cover;
}


.card:hover .front   {
    transform: rotateX(10deg);
    box-shadow: 0 15px 15px lightgrey;
}

.card:hover .back {
    box-shadow: 20px 15px 15px lightgrey;
}

/* animation code */

[type="radio"] {
    display: none;
}

[type="radio"]:checked ~ .front {
    transform: rotateX(-180deg);
}

[type="radio"]:checked ~ .back {
    transform:rotateX(0deg);
}




/*end animation */

.frontIntro {
    position: relative;
}

.frontIntro h1 {
    padding: 10px;
    margin-left: 10px;
    color: #fff;
    font-size: 45px;
    letter-spacing: 1px;
    font-family: Arial, serif;
}

.aboutMe, .bookmarkFront p {
    font-family: sans-serif;
    font-size: 14px;
    font-weight: 100;
    color: #fff;
    padding: 0;
    margin-left: 22px;
    top: 70px;
    left: 25px;
}

.aboutMe {
    margin-right: 80px;
}

.frontIntro > p:nth-child(2) {
    position: absolute;
    font-size: 16px;
    font-family: sans-serif;
    font-weight: 100;
    color: lightgray;
    padding: 0;
    margin: 0;
    top: 70px;
    left: 25px;
}

.frontIntro img {
    position: absolute;
    top: 0;
    right: 40px;
    cursor: pointer;
}

.frontIntro img:hover {
    background-color: #fff;
    border-radius: 5px;
    transform: rotateY(180deg);
}

.front ul {
    margin: 30px 0 0;
    padding: 0;
    list-style: none;

}

.front li {
    display: inline-block;
    margin: 0 10px 0 24px;
}

.front a {
    font-variant: small-caps;
    font-size: 15px;
    text-decoration: none;
    color: #C464E5;
}

.front a:hover {
    color: #d47ec3;
}

.bookmarkFront {
    position: absolute;
    bottom: 4px;
    left: 20px;
    display: flex;
    margin-left: 4px;
    width: 180px;
    justify-content: space-between;
    align-items: center;
}

.bookmarkFront img {
    height: 50px;
    width: 50px;
}

.socialMediaIcons {
    display: flex;
    width: 250px;
    height:45px;
    justify-content: space-around;
    align-items: center;
    position: absolute;
    bottom: 15px;
    right: 30px;
}


.socialMediaIcons img:hover {
    border-radius:50%;
    border:3px solid #fff;
}

/* flip code*/







/*Back Of Card*/


.back img {
    position: absolute;
    top: 30px;
    right: 40px;
    cursor: pointer;
}

.back img:hover {
    background-color: #fff;
    border-radius: 5px;
    transform: rotateY(180deg);
}




#flipToFront[type="radio"]:checked ~ .front {
    transform: rotateX(0deg);
}

#flipToFront[type="radio"]:checked ~ .back {
    transform: rotateX(180deg);
}




.bottomName {
    position: absolute;
    bottom:10px;
    left:20px;
    background-color: #EFEDE0;
    opacity:0.8;
    border-radius:5px;
}

.bottomName p {
    color:#7C30D2;
    padding:5px;
    margin: 0;
}